---
import { Button } from "@components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">Hello, World</main>
  <Button>Hi</Button>
</Layout>
