---
import { Button } from "@components/ui/button";
import Layout from "../layouts/Layout.astro";
import TestApp from "@components/TestApp/TestApp";
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto max-w-xl py-6">
    <TestApp client:load />
  </main>
</Layout>
