---
import Link from "@components/Link.astro";
import { Button } from "@components/ui/button";
---

<div class="mt-8 p-2 text-center">
  <span id="footer-year">Made by </span>
  <Link href="https://steciuk.dev" targetBlank> Adam Steciuk </Link>
</div>
